@import '../../mixins/animations.scss';
@import '../../mixins/animations.scss';

  

.buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    
}

.mainContent{
    @include animOpacity;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.componentsContainer{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
    margin-top: 10px;

}
.tableContainer{
    width: 50%;
}
.inputs{
    width: 80%;
    @include animSlide;

}
.addObjectBox{
    @include animSlide;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
 width: 100%;
}


