@import '../../mixins/fonts.scss';
.footer{
  display: flex;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  background-color: rgb(177, 191, 209);
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(105, 118, 136) ;
}
.text{
  @include Montserrat;
  font-size: 14px;
}

.contacts{
    display: flex;
    justify-content: space-between;
    @include Montserrat;
  font-size: 10px;
}

h2{
    margin: 5px;
}